.header {
  background-color: var(--headerBackground);
}

.logo {
  height: 40px;
  width: 40px;
}

* {
  color: var(--textColor);
  scroll-behavior: smooth;
  transition: all 200ms ease-in;
}

body {
  background-color: var(--footerBackground);
}

.footer {
  background-color: var(--footerBackground);
}


.mainSearch {
  width: 100%;
  font-size: 30px;
  padding: 5px;
  transition: all 150ms ease-in !important;
  border-radius: 7px;
}

.mainSearch:focus {
  border-color: var(--highlightColor);
  border-radius: 7px;
}

.divider {
  border-right: 1px solid var(--highlightColor);
}

.city-card {
  background-color: var(--cardBackground);
  border-radius: 5px;
  cursor: pointer;
}

.mx-w-900 {
  max-width: 900px;
}


.smallSearch {
  font-size: 20px;
  transition: all 150ms ease-in !important;
  border-radius: 5px;
  height: 40px;
  padding-left: 10px;
}

.smallSearch:focus {
  border-color: var(--highlightColor);
  border-radius: 5px;
}

.button {
  padding: 5px;
  user-select: none;
  cursor: pointer;
  border: 2px solid var(--highlightColor);
  border-radius: 13%;
}


.icon {
  border: none;
}

p {
  font-size: 15px;
  text-align: center;
}

.searchButton {
  border: none;
  background-color: var(--mainBackground);
}

.searchButton:active {
  border: 2px solid var(--highlightColor);
}

.location {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 20px;
  width: 20px;
  padding: 2px;
}

.transparent {
  background-color: transparent;
}

.theme-menu {
  clip-path: polygon(50% 0, 60% 20%, 100% 20%, 100% 100%, 0 100%, 0 20%, 40% 20%);
  background-color: var(--mainBackground);
  border-radius: 10px;
  height: 90px;
  width: 90px;
}

.single-theme {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

#sea {
  background-color: #014b60;
}

#forest {
  background-color: #799571;
}

#sand {
  background-color: #99775d;
}

.theme-selected {
  box-shadow: 0 0 0 2pt var(--textColor);
}

.bottom-divisor {
  border-bottom: 2px solid var(--highlightColor);
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.apply-shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

a {
  color: var(--textColor);
  text-decoration: none;
}

a:hover {
  color: var(--highlightColor);
}