:root {
  --textColor: #46352d;
  --mainBackground: #f5ecdb;
  --footerBackground: #d2c090;
  --highlightColor: #99775d;
  --headerBackground: #c1b19b;
  --cardBackground: whitesmoke;
}

.bg-image {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .4;
  background-image: url("../images/background-sand.jpeg");
  width: 100%;
  height: 100%;
}