:root {
  --textColor: #f5f5f5;
  --mainBackground: #745943;
  --footerBackground: #799571;
  --highlightColor: #cfd186;
  --headerBackground: #596157;
  --cardBackground: #225535;
}

.bg-image {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .4;
  background-image: url("../images/background-forest.jpeg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.smallSearch, .mainSearch {
  color: var(--mainBackground);
}