:root {
  --textColor: #ffffff;
  --mainBackground: #1453a0;
  --footerBackground: #018abd;
  --highlightColor: #a6d0ef;
  --headerBackground: #01234c;
  --cardBackground: #014b60;
}

.bg-image {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .4;
  background-image: url("../images/background-sea.jpeg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.smallSearch, .mainSearch {
  color: var(--mainBackground);
}
